<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbConnection" connectionString="Server=159.112.151.168,1433;Database=DBConsorAdmin;User Id=sa;Password=Barby846!;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>